@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    margin-left: 10px;
    margin-top: 1in;
    padding-right: 5px;
    text-align: justify;
    hyphens: auto;
}
p{
    text-indent: 40px; 
}
span{
    font-weight: bold;
}
.img{
    width: 200px;
    height: 120px;
    border-radius: 10px;
}
